APP_NAME="Vegetable Delivery"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vegetable_delivery
DB_USERNAME=root
DB_PASSWORD=

SMS_DRIVER=log
SPARROW_API_KEY=
SPARROW_SENDER_ID=

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis
FILESYSTEM_DISK=public
SANCTUM_TOKEN_EXPIRATION_DAYS=7
